@charset "UTF-8";
@keyframes myAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@font-face {
  font-family: Bad;
  src: url(../fonts/BadScript-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bad;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: transform 1000ms;
  max-height: 1500px;
}

a:hover {
  color: #FF8F0B;
  transform: scale(1.1);
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #e0e0e0;
  z-index: 100911;
  display: flex;
}

@keyframes trans {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }
  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}
.preloader__text {
  position: relative;
  display: flex;
}
.preloader__text-1 {
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
  animation: trans 1s ease 0s 1 normal backwards;
}
.preloader__text-2 {
  animation: trans 1s ease 1s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}
.preloader__text-3 {
  animation: trans 1s ease 2s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}
.preloader__text-4 {
  animation: trans 1s ease 3s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}
.preloader__text-5 {
  animation: trans 1s ease 4s 1 normal backwards;
  position: relative;
  top: 50%;
  font-family: "Courier New", Courier, monospace;
  left: 50%;
}
.preloader__text-6 {
  animation: trans 1s ease 5s 1 normal backwards;
  position: relative;
  top: 50%;
  font-family: "Courier New", Courier, monospace;
  left: 50%;
}
.preloader__text-7 {
  animation: trans 1s ease 6s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}
.preloader__text-8 {
  animation: trans 1s ease 6s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}

.loaded .preloader {
  display: none;
}

.burger-menu {
  position: relative;
  z-index: 2222;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 376px) {
  .burger-menu {
    display: block;
  }
}
.burger-menu .burger-icon {
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
  margin-bottom: 50px;
  color: #fff;
}
.burger-menu .menu {
  position: fixed;
  left: -375px;
  top: 0px;
  width: 375px;
  height: 35%;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: #fff;
  transition: left 0.3s ease;
}
.burger-menu .menu .close-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  text-align: right;
}
.burger-menu .menu ul {
  list-style: none;
  padding: 0 0 0 20px;
}
.burger-menu .menu ul li a {
  color: #fff;
  text-decoration: none;
}
.burger-menu .menu ul li a:hover {
  text-decoration: underline;
}
.burger-menu .menu.active {
  left: 0;
}

.main__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.2);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  padding: 0 10px 0 0;
  border-bottom: 2px solid white;
}
@media (max-width: 376px) {
  .main__header {
    display: none;
  }
}
.main__header__top img {
  cursor: pointer;
}
@media (max-width: 376px) {
  .main__header__top img {
    max-width: 20px;
  }
}
.main__header__top-logo {
  font-size: 48px;
  animation: myAnim 0.4s ease 0s 1 reverse both;
}
@media (max-width: 376px) {
  .main__header__top-logo {
    font-size: 20px;
  }
}
.main__header__nav {
  display: flex;
  gap: 44px;
  font-size: 24px;
  animation: myAnim 0.4s ease 0s 1 reverse both;
  margin-right: 10px;
}
@media (max-width: 376px) {
  .main__header__nav {
    font-size: 12px;
    gap: 26px;
  }
}

.block {
  display: flex;
}
.block__img {
  display: grid;
  /* Три колонки */
  grid-template-columns: auto auto auto;
  /* Два ряда */
  grid-template-rows: auto auto;
  /* Автоматическое размещение в ряд */
  grid-auto-flow: row;
  /* Отступы между ячейками */
  gap: 20px;
}
.block__img img {
  max-width: 300px;
}
.block__img__3 {
  grid-column: span 2;
}

.footer {
  background-color: #3A3A3A;
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 300px;
  margin-top: 100px;
  padding-top: 50px;
}
@media (max-width: 376px) {
  .footer {
    margin-top: 50px;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    padding-top: 20px;
  }
}
.footer a {
  padding-left: 10px;
  cursor: pointer;
  display: flex;
}
@media (max-width: 376px) {
  .footer a {
    padding-left: 30px;
  }
}
.footer h4 {
  font-size: 30px;
}
.footer__block-2 {
  display: flex;
  flex-direction: column;
}
.footer__block-3 {
  display: flex;
  flex-direction: column;
}
.footer__block-3 h4 {
  font-size: 30px;
}
.footer__block-4 input {
  padding: 20px 70px 20px 20px;
  border-radius: 20px 0 0 20px;
  font-family: Arvo;
  outline: none;
  border: none;
  margin-top: 20px;
}
.footer__block-4 button {
  margin-left: -9px;
  padding: 13px 20px 14px 20px;
  border-radius: 0 20px 20px 0;
  background-color: #FF8F0B;
  border: none;
  transition: 0.4s ease-in-out;
  width: 102px;
  font-size: 15px;
  font-weight: 900;
}
.footer__block-4 button:hover {
  background-color: #000000;
  color: #fff;
  cursor: pointer;
}/*# sourceMappingURL=card.css.map */