.block{
    margin-top: 2%;
    &__img{
        display: flex;
        justify-content: space-evenly;
        @media (max-width:376px) {
            overflow-x: scroll;
    }
       &__1{
            width: 600px;
            border-radius: 10px;
            @media (max-width:376px){  
                width: 375px;
            }
       }
       &__2{
            width: 600px;
            border-radius: 10px;
            @media (max-width:376px){  
                width: 375px;
            }
       }
       &__3{
            width: 600px;
            border-radius: 10px;
            @media (max-width:376px){  
                width: 375px;
            }
       }
    }
    &__text{
        &__text{
            @media (max-width:376px){  
                // height:300px;
                overflow: hidden;
            }
        }
        &-p{
            font-size: 20px;
            @media (max-width:376px){  
                font-size: 15px;
                // display: -webkit-box;
                -webkit-line-clamp: 15;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        color: white;
        margin-left: 2%;
        margin-right: 2%;
        text-align: center;
        @media (max-width:376px){  
            text-overflow: clip;
        }
        &__title{
            font-size: 30px;
            display: flex;
            justify-content: center;
        }
    }
}
.block__ymaps{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;   
    height: 500px;
    max-width: 2000px;
    margin-top: 3%;
}