.catalog{
    display: flex;
    @media (max-width:376px) {
        flex-direction: column;            
    }
    :active, :hover, :focus {
        outline: 0;
        outline-offset: 0;
    }
    padding: 0 10% 0 10%;
    &__filter{
        max-width: 300px;
        &-h2{
            display: flex;
            margin-top: 50px;
            @media (max-width:376px) {
                margin: 0;   
            }
            input{
                font-size: 25px;
                max-height: min-content;
                margin-top: 30px;
                border: none;
                margin-left: 113px;
                background: local;
                border-bottom: 3px solid white;
                width: 264px;
                color: #fff;   
                
                @media (max-width:376px) {
                    margin-left: -70px;
                    margin-bottom: 20px;
                }
            }
            input::placeholder{
                color: #fff; 
                @media (max-width:376px){  
                    font-size: 15px;
                }
            }
            h2{
                font-size: 50px;
                margin-left: 40px;
                color:#fff;
                @media (max-width:376px){  
                    font-size: 20px;
                    margin-left: -6%;
                }
            }
        }
        &-filter{
            max-width: 251px;
            border: 1px solid white;        
            border-radius: 20px;
            background-color: #222222;
            li{
                margin-left: 40px;   
                color: #fff;
                cursor: pointer;
                max-width: 150px;
            }
            li::marker{
                color: #e73e58;
            }
            .li__exit{
                    list-style-type: none;
                    padding-left: 24px;
                    margin-left: 18px;
                    position: relative;
                    color: white;
                    margin-bottom: 5px;
                }
                .li__exit::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: 15px;
                    height: 2px;
                    background-color: white;
                    transform: rotate(45deg);
                }
                .li__exit::after {
                    content: '';
                    position: absolute;
                    left: 0px;
                    top: 50%;
                    width: 15px;
                    height: 2px;
                    background-color: white;
                    transform: rotate(-45deg);
                }
        }
    }
    &__card{
        margin-top: 125px;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        @media (max-width:376px) {
            margin-top: 20px;   
            display: block;       
        }
        &-1{
            padding: 10px;
            display: flex;
            margin-top: 20px;
            border-radius: 13px;
            background-color: #222222;
            @media (max-width:376px) {
                display: block;
            }
            h3{
                color: #fff;
                font-size: 21px;
                max-width: 385px;
            }
            img{
                width: 384px;
                height: 211px;
                border-radius: 20px;
                @media (max-width:376px) {
                    max-width: 280px;
                }
            }
            h4{
                color: #fff;
                margin-left: 4%;
            }
            &-title{
                p{
                    color: #fff;
                    font-family: serif;
                    max-width: 385px;
                }
            }
            p{
                color: #fff;
            }
        }
    }
}
.pagination {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 2%;
    cursor: pointer;
    .container{
        display: flex;
        max-width: 20%;
        align-items: center;
        padding: 0 2% 0 2%;
        gap: 10px;
    }
    span{
        font-family: serif;
        font-size: 20px;
        gap: 10px;
        color: #fff;
    }
    &__btn{
        font-size: 20px;
        color: #fff;
        background-color: transparent;
        border: none;
        cursor: pointer;  
    }   
}   
