///////////////////////////////////////////////////АНИМАЦИИ
@keyframes myAnim {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes mani {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translateY(0);
	}
}
@font-face {
    font-family:Bad;
    src: url(../fonts/SourGummy-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family:Bad2;
    src: url(../fonts/ShantellSans-Italic-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bad;
    font-family: Bad2;
}
a{
    text-decoration: none;
    color: #fff;
    transition:  0.3s ease-in-out;
}
html {
    scroll-behavior: smooth;
}
body {
    transition: transform 1000ms;
    max-height:1500px;
}
a:hover{
    color: #e73e58;
    transform: scale(0.98);
}
@keyframes coup {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(90deg);
    }
}
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #e0e0e0;
    z-index: 100911;
    display: flex;
}
@keyframes trans {
	0% {
		animation-timing-function: ease-in;
		opacity: 0;
		transform: translateX(250px);
	}

	38% {
		animation-timing-function: ease-out;
		opacity: 1;
		transform: translateX(0);
	}

	55% {
		animation-timing-function: ease-in;
		transform: translateX(68px);
	}

	72% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	81% {
		animation-timing-function: ease-in;
		transform: translateX(32px);
	}

	90% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}

	95% {
		animation-timing-function: ease-in;
		transform: translateX(8px);
	}

	100% {
		animation-timing-function: ease-out;
		transform: translateX(0);
	}
}
.preloader__text{
    position: relative;
    display: flex;
    
    &-1{
        position: relative;
        top: 50%;
        left: 50%;
        font-family: 'Courier New', Courier, monospace;
        animation: trans 1s ease 0s 1 normal backwards;
    }
    &-2{

        animation: trans 1s ease 1s 1 normal backwards;
        position: relative;
        top: 50%;
        left: 50%;
        font-family: 'Courier New', Courier, monospace;
    }
    &-3{
        animation: trans 1s ease 2s 1 normal backwards;
        position: relative;
        top: 50%;
        left: 50%;
        font-family: 'Courier New', Courier, monospace;
    }
    &-4{
        animation: trans 1s ease 3s 1 normal backwards;
        position: relative;
        top: 50%;
        left: 50%;
        font-family: 'Courier New', Courier, monospace;
    } 
    &-5{
        animation: trans 1s ease 4s 1 normal backwards;
        position: relative;
        top: 50%;
        font-family: 'Courier New', Courier, monospace;
        left: 50%;
    }
    &-6{
        animation: trans 1s ease 5s 1 normal backwards;
        position: relative;
        top: 50%;
        font-family: 'Courier New', Courier, monospace;
        left: 50%;
    } 
    &-7{    
        animation: trans 1s ease 6s 1 normal backwards;
        position: relative;
        top: 50%;
        left: 50%;
        font-family: 'Courier New', Courier, monospace;
    }
    &-8{    
        animation: trans 1s ease 6s 1 normal backwards;
        position: relative;
        top: 50%;
        left: 50%;
        font-family: 'Courier New', Courier, monospace;
    }

}
  .loaded .preloader {
    display: none;
  }
.burger-menu {
    position: relative;
    z-index: 2222;
    display:none;
    background: rgba(0, 0, 0, 0.2);
    
    @media (max-width:376px) {
        display: block;

}
.burger-icon {
      font-size: 30px;
      cursor: pointer;
      z-index: 1000;
      margin-bottom: 50px;
      color: #fff;
      
    }
.menu {
    position: fixed;
    left: -375px;
    top: 0px;
    width: 375px;
    height: 35%;
    backdrop-filter: blur(6px);
    color: #fff;
    transition: left 0.3s ease;
    
.close-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    text-align: right;
}
    ul {
        list-style: none;
        padding:  0 0 0 20px;                                                                                                   
  
        li {
            a {
            color: #fff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .menu.active {
      left: 0; 
    }
  }
body{
    background-color: #191919;;
    
}

.main{
    background: url(../image/tokio_noch.jpg) no-repeat center center / cover;
    height: 80vh;  
    
    @media (max-width:376px) {
        height: 80vh;       

    }
    &__arrow{
        display: flex;
        justify-content: space-between;
        font-size: 30px;        
        color: #fff;
        margin-top: 100px;
        @media (max-width:376px) {
            margin-top: 0;
            font-size: 10px;
        }
        p{
            border-radius: 50px;
            transition: 0.5s ease-in-out;
            color: #fff;    
        }
        p:hover{
            cursor: pointer;
            transform: scale(0.9);
            color: #e73e58;
            
            
        }
    }
    [data-title] {
        position: relative;
        z-index: 4;
      }
      [data-title]::after {
        content: attr(data-title); 
        position: absolute;
        z-index: 4;
        left: 2em;top: 30px;
        opacity: 0; 
        transition: 0.3s;
        pointer-events: none; 
        color: #fff;
        width: 120px;
        font-size: 25px;
        font-weight: 500;
      }
      [data-title]:hover::after {
        opacity: 1;
      }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: #222222;
        padding: 0 20px 0 0;
        border-bottom: 2px solid #e73e58;
        @media (max-width:376px) {
            display: none;
        }
        &__top{
            padding-left: 20px;
            display: flex;  
            img{
                cursor: pointer;
                @media (max-width:376px) {
                    max-width: 20px;
                }
            }
            &-logo{
            font-size: 24px;
            animation: myAnim 0.4s ease 0s 1 reverse both;
            padding-top: 9px;
            @media (max-width:376px) {
                font-size: 20px;
            }
        }
        }
        &__nav{
            display: flex;
            gap: 44px;
            font-size: 24px;
            animation: myAnim 0.4s ease 0s 1 reverse both;
            margin-right: 10px;
            @media (max-width:376px) {
                font-size: 12px;
                gap: 26px;

            }

        }
    }
    &__title{
        display: flex;  
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        font-size: 36px;
        font-weight:700;
        @media (max-width:376px) {
            font-size: 15px;   
        }
        &-h2{
            animation: myAnim 1s ease 0s 1 reverse both;
            font-weight: 400;
        }
        &-h3{
            animation: myAnim 1.5s ease 0s 1 reverse both;
        }
        &-img{
            padding-top: 50px;
            cursor: pointer;
            animation: myAnim 2s ease 0s 1 reverse both;
            @media (max-width:376px) {
                max-width: 20px;
            }
        }
    }
}
.main__title-p{
    display: flex;  
    justify-content: space-around;
}

.slaider__img.manifestation-show{
    opacity: 1;
    animation: mani 1s ease-in-out 0s 1 normal forwards;
}
.slaider{
    &__h2 {
        color: #fff;
        border-bottom: 1px solid #e73e58;
        font-size: 52px;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        font-weight: 100;
        @media (max-width: 376px) {
            font-size: 25px;
            padding-top: 20px;
        }
    }
    &__img {
        opacity: 0;
        margin: 20px 0 110px 0;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        gap: 35px;
        @media (max-width: 376px) {
            gap: 6px;
            margin: 0;
            height: 200px;
        }
        .card {
            position: relative;
            width: 17%;
            height: 100%;
            perspective: 1000px;
            @media (max-width: 376px)    {
                height: 100%;
                border-radius: 10px;
            }
            .card__front, .card__back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transition: transform 0.6s;
                border-radius: 20px;
                @media (max-width: 376px) {
                    border-radius: 10px;
                }
            }
            .card__front {
                background-color: transparent;
                z-index: 2;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    @media (max-width: 376px) {
                        border-radius: 10px;
                    }
                }
            }
            .card__back {
                background-color: #222222;
                transform: rotateY(180deg);
                display: flex;
                align-items: center;
                justify-content: center;
                .slaideer__content {
                    color: white;
                    font-size: 15px;
                    padding: 0 10px 0 10px;
                    .span__slaider{
                        font-weight: 900;
                    }
                }
            }
            &:hover .card__front {
                transform: rotateY(180deg);
            }
            &:hover .card__back {
                transform: rotateY(0deg);
            }
        }
    }
}
span:hover{  
    cursor: pointer;
}
.container2.manifestation-show{
    opacity: 1;
    animation: mani 1s ease-in-out 0s 1 normal forwards;
}
.container2{
    display: flex;
    justify-content: space-around;
    opacity: 0;
    padding-bottom: 6%;
    .block{
        background-color: #222222;
        display: flex;
        border-radius: 15px;
        color: white;
        max-width: 1500px;
        padding-bottom: 50px;
        @media (max-width:376px) {
            margin: 0;
            display: block;
        }
        &__cart1{   
            margin: 5% 0 8% 43%; 
            
            @media (max-width:376px) {
                margin: 0;   
                padding: 0;
            }
                &__h3{
                    font-size: 35px;
                    margin-right: 208px;
                    font-weight: 900;
                    border-bottom: 1px solid #e73e58;
                    @media (max-width:376px) {
                        margin: 0;
                        padding-left: 38%;
                    }
                }
            &-ymaps{
                width:560px;
                height:445px;
                padding-left: 50px;
                @media (max-width:376px) {
                    width: 350px;
                    height: 300px;
                    padding: 0 20px 0 35px; 
                }
            }
        }
        p{
            font-size: 30px;
            padding-top: 120px;
            padding-left:50px;
            max-width: 700px;    
            @media (max-width:376px) {
                font-size: 15px;
                padding-top: 0px;
                max-width: 376px;
                padding-left: 25px;
    
            }
        }
    }
}
.footer{
    background-color: #222222;
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 300px;
    padding-top: 50px;
    @media (max-width:376px) {
        margin-top: 50px;
        height: fit-content; 
        display: block;      
        padding-top: 20px;
    }
    a{ 
        cursor: pointer;
        display: flex;
        @media (max-width:376px) {
            padding-left: 30px;    
        }
    }
    h4{
        font-size: 30px;
        border-bottom:1px solid #e73e58;
        width: max-content;
    }
    &__block{
        &-2{
            display: flex;
            flex-direction: column;
        }
        &-3{
            h4{
                font-size: 30px;
            }
            display: flex;
            flex-direction: column;
        }
        &-4{
            input{
                padding: 20px 70px 20px 20px;
                border-radius: 20px 0 0 0px;
                font-family:Arvo;
                outline: none;
                border: none;
                margin-top: 20px;
            }
            button{
                margin-left: -9px;
                padding: 17.1px 116px 19px 20px;
                border-radius: 0 0px 16px 0px;
                background-color:#e73e58;
                border: none;
                color: #fff;
                transition: 0.4s ease-in-out;
                width: 102px;
                font-size: 15px;
                font-weight: 900;
            }
            button:hover{
                background-color: #000000;
                cursor: pointer;
            }
        }
    }
}
