@keyframes mani {
	0% {
		transform: translateY(100px);
	}

	100% {
		transform: translateY(0);
	}
}
@font-face {
    font-family:Bad;
    src: url(../fonts/SourGummy-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family:Bad2;
    src: url(../fonts/ShantellSans-Italic-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bad;
    font-family: Bad2;
}
a{
    text-decoration: none;
    color: #fff;
    transition:  0.3s ease-in-out;
}
html {
    scroll-behavior: smooth;
}
body {
    transition: transform 1000ms;
    max-height:1500px;
}
a:hover{
    color: #e73e58;
    transform: scale(0.98);
}
// @keyframes coup {
//     0%{
//         transform: rotate(0);
//     }
//     100%{
//         transform: rotate(90deg);
//     }
// }
.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    background: #222222;
    z-index: 100911;
    display: flex;
}
@keyframes loader_5191 {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
.square {
  background: #fff;
  width: 10px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -5px;
  margin-left: -5px;
}
#sq1 {
  margin-top: -25px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 0s infinite alternate;
}
#sq2 {
  margin-top: -25px;
  animation: loader_5191 675ms ease-in-out 75ms infinite alternate;
}
#sq3 {
  margin-top: -25px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 150ms infinite;
}
#sq4 {
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 225ms infinite;
}
#sq5 {
  animation: loader_5191 675ms ease-in-out 300ms infinite;
}
#sq6 {
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 375ms infinite;
}
#sq7 {
  margin-top: 15px;
  margin-left: -25px;
  animation: loader_5191 675ms ease-in-out 450ms infinite;
}
#sq8 {
  margin-top: 15px;
  animation: loader_5191 675ms ease-in-out 525ms infinite;
}
#sq9 {
  margin-top: 15px;
  margin-left: 15px;
  animation: loader_5191 675ms ease-in-out 600ms infinite;
}
.loaded .preloader {
    display: none;
}
.burger-menu {
    position: relative;
    z-index: 2222;
    display:none;
@media (max-width:426px) {
    display: block;

}
.burger-icon {
      font-size: 30px;
      cursor: pointer;
      z-index: 1000;
      margin-bottom: 50px;
      color: #fff;
    }
.menu {
    position: fixed;
    left: -375px;
    top: 0px;
    width: 375px;
    height: 35%;
    backdrop-filter: blur(6px);
    color: #fff;
    transition: left 0.3s ease;
    
.close-icon {
    font-size: 30px;
    cursor: pointer;
    padding: 10px;
    text-align: right;
}
    ul {
        list-style: none;
        padding:  0 0 0 20px;                                                                                                   
  
        li {
            a {
            color: #fff;
            text-decoration: none;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
    .menu.active {
      left: 0; 
      height: 100%;
    }
  }
body{
    background-color: #191919;;
    
}
.tab_arrow{
    max-width: 20px;
}
.main{
    background: url(../image/tokio_noch.jpg) no-repeat center center / cover;
    height: 80vh;  
    @media (max-width:436px) {
        height: 50vh;       

    }
    &__arrow{
        display: flex;
        justify-content: space-between;
        font-size: 30px;        
        color: #fff;
        margin-top: 100px;
        @media (max-width:436px) {
            margin-top: 0;
            font-size: 15px;
        }
        p{
            border-radius: 50px;
            transition: 0.5s ease-in-out;
            color: #fff;    
        }
        p:hover{
            cursor: pointer;
            transform: scale(0.9);
            color: #e73e58;
            
            
        }
    }
    [data-title] {
        position: relative;
        z-index: 4;
      }
      [data-title]::after {
        content: attr(data-title); 
        position: absolute;
        z-index: 4;
        left: 2em;top: 30px;
        opacity: 0; 
        transition: 0.3s;
        pointer-events: none; 
        color: #fff;
        width: 120px;
        font-size: 25px;
        font-weight: 500;
      }
      [data-title]:hover::after {
        opacity: 1;
      }
    &__header{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        background-color: #222222;
        padding: 0 20px 0 0;
        border-bottom: 2px solid #e73e58;
        @media (max-width:436px) {
            display: none;
        }
        &__top{
            padding-left: 20px;
            display: flex;  
            img{
                cursor: pointer;
                @media (max-width:436px) {
                    max-width: 20px;
                }
            }
            &-logo{
            font-size: 24px;
            padding-top: 9px;
            @media (max-width:436px) {
                font-size: 20px;
            }
        }
        }
        &__nav{
            display: flex;
            gap: 44px;
            font-size: 24px;
            margin-right: 10px;
            @media (max-width:436px) {
                font-size: 12px;
                gap: 26px;
            }
        }
    }
    &__title{
        display: flex;  
        flex-direction: column;
        align-items: center;
        color: #ffffff;
        font-size: 36px;
        font-weight:700;
        @media (max-width:436px) {
            font-size: 15px;   
        }
        &-h2{
            font-weight: 400;
        }
        &-img{
            padding-top: 50px;
            cursor: pointer;
            @media (max-width:436px) {
                max-width: 20px;
            }
        }
    }
}
.main__title-p{
    display: flex;  
    justify-content: space-around;
}

.slaider__img.manifestation-show{
    opacity: 1;
    animation: mani 1s ease-in-out 0s 1 normal forwards;
}
.slaider{
@media (max-width:436px) {
    overflow-x: scroll;
    overflow-y: hidden;
}
    &__h2 {
        color: #fff;
        border-bottom: 1px solid #e73e58;
        font-size: 52px;
        display: flex;
        justify-content: center;
        padding-top: 60px;
        font-weight: 100;
        @media (max-width: 436px) {
            font-size: 25px;
            padding-top: 20px;  
            margin-bottom: 12px;
        }
    }
    &__img {
        opacity: 0;
        margin: 20px 0 110px 0;
        width: 100%;
        height: 600px;
        display: flex;
        justify-content: center;
        gap: 35px;
            @media (max-width: 436px) {
                margin: 0;
                height: 400px;
                width: 1200px;
                margin-bottom: 12px;
            }
        }
        .card {
            position: relative;
            width: 17%;
            height: 100%;
            perspective: 1000px;
            @media (max-width: 436px)    {
                height: 100%;
                border-radius: 10px;
            }
            .card__front, .card__back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
                transition: transform 0.6s;
                border-radius: 20px;
                @media (max-width: 436px) {
                    border-radius: 10px;
                }
            }
            .card__front {
                background-color: transparent;
                z-index: 2;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 20px;
                    @media (max-width: 436px) {
                        border-radius: 10px;
                    }
                }
            }
            .card__back {
                background-color: #222222;
                transform: rotateY(180deg);
                display: flex;
                align-items: center;
                justify-content: center;
                .slaideer__content {
                    color: white;
                    font-size: 15px;
                    padding: 0 10px 0 10px;
                    @media (max-width:1449px) {
                        font-size: 11px;
                    }
                    @media (max-width:436px) {
                        font-size: 11px;
                    }
                    .span__slaider{
                        font-weight: 900;
                    }
                }
            }
            &:hover .card__front {
                transform: rotateY(180deg);
            }
            &:hover .card__back {
                transform: rotateY(0deg);
            }
        }
}
span:hover{  
    cursor: pointer;
}
.container2.manifestation-show{
    opacity: 1;
    animation: mani 1s ease-in-out 0s 1 normal forwards;
}
.container2{
    display: flex;
    justify-content: space-around;
    opacity: 0;
    padding-bottom: 6%;
    .block{
        background-color: #222222;
        display: flex;
        border-radius: 15px;
        color: white;
        max-width: 1500px;
        padding-bottom: 50px;
        @media (max-width:436px) {
            margin: 0;
            display: block;
            border-radius: 0;
            padding-bottom: 20px;   
        }
        &__cart1{   
            margin: 5% 0 8% 43%; 
            @media (max-width:436px) {
                margin: 0;   
                padding: 0;
            }
                &__h3{
                    font-size: 35px;
                    margin-right: 208px;
                    font-weight: 900;
                    border-bottom: 1px solid #e73e58;
                    @media (max-width:436px) {
                        margin: 0;
                        padding-left: 38%;
                        margin-bottom: 12px;
                    }
                }
            &-ymaps{
                width:560px;
                height:445px;
                padding-left: 50px;
                @media (max-width:436px) {
                    width: 350px;
                    height: 300px;
                    padding: 0 20px 0 35px; 
                }
            }
        }
        p{
            font-size: 30px;
            padding-top: 120px;
            padding-left:50px;
            max-width: 700px;    
            @media (max-width:1025px) {
                font-size: 15px;
                padding-top: 12px;
                max-width: 376px;
                padding-left: 25px;
                padding-top: 15%;
            }
            @media (max-width:430px) {
                font-size: 15px;
                padding-top: 12px;
                max-width: 376px;
                padding-left: 25px;
            }
        }
    }
}
.footer{
    background-color: #222222;
    color: #fff;
    display: flex;
    justify-content: space-around;
    height: 300px;
    padding-top: 50px;
    @media (max-width:1025px) {
        height: fit-content;
    }
    @media (max-width:769px) {
        max-width: 768px;
        flex-wrap: wrap;
    }
    @media (max-width:436px) {
        margin-top: 50px;
        height: fit-content; 
        display: block;      
        padding-top: 20px;
    }
    a{ 
        cursor: pointer;
        display: flex;
        @media (max-width:769px) {
            padding-left: 30px;    
        }
        @media (max-width:436px) {
            padding-left: 30px;    
        }
    }
    h4{
        font-size: 30px;
        border-bottom:1px solid #e73e58;
        width: max-content;
        @media (max-width:1025px) {
             font-size: 15px;
        }
        @media (max-width:769px) {
            font-size: 20px;
            margin-left: 5px;
            
        }
        @media (max-width:436px) {
            font-size: 20px;
            margin-left: 5px;
        }
    }
    &__block{
        &-2{
            display: flex;
            flex-direction: column;
        }
        &-3{
            h4{
                font-size: 30px;
                @media (max-width:1025px) {
                    font-size: 15px;
                }
            }
            display: flex;
            flex-direction: column;
        }
        &-4{
            input{
                padding: 20px 70px 20px 20px;
                border-radius: 20px 0 0 0px;
                font-family:Arvo;
                outline: none;
                border: none;
                margin-top: 20px;
                @media (max-width:1025px) {
                    padding: 15px 50px 15px 15px;
                }
                @media (max-width:769px) {
                    padding: 15px 50px 15px 15px;
                }
                @media (max-width:436px) {
                padding: 15px 50px 15px 15px;
                }

            }
            button{
                margin-left: -9px;
                padding: 17.1px 116px 19px 20px;
                border-radius: 0 0px 16px 0px;
                background-color:#e73e58;
                border: none;
                color: #fff;
                transition: 0.4s ease-in-out;
                width: 102px;
                font-size: 15px;
                font-weight: 900;
                @media (max-width:1025px) {
                    padding: 14.5px 100px 15px 20px;
                    font-size: 12px;    
                    margin-bottom: 30px;
                }
                @media (max-width:436px) {
                    padding: 14.5px 100px 15px 20px;
                    font-size: 12px;    
                    margin-bottom: 30px;
                }
            }
            button:hover{
                background-color: #000000;
                cursor: pointer;
            }
        }
    }
}
