@keyframes myAnim {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes mani {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0);
  }
}
@font-face {
  font-family: Bad;
  src: url(../fonts/SourGummy-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: Bad2;
  src: url(../fonts/ShantellSans-Italic-VariableFont_BNCE\,INFM\,SPAC\,wght.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Bad;
  font-family: Bad2;
}

a {
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}

body {
  transition: transform 1000ms;
  max-height: 1500px;
}

a:hover {
  color: #e73e58;
  transform: scale(0.98);
}

@keyframes coup {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(90deg);
  }
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  background: #e0e0e0;
  z-index: 100911;
  display: flex;
}

@keyframes trans {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateX(250px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateX(0);
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateX(68px);
  }
  72% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateX(32px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateX(8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateX(0);
  }
}
.preloader__text {
  position: relative;
  display: flex;
  justify-content: center;
}
.preloader__text-1 {
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
  animation: trans 1s ease 0s 1 normal backwards;
}
.preloader__text-2 {
  animation: trans 1s ease 1s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}
.preloader__text-3 {
  animation: trans 1s ease 2s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}
.preloader__text-4 {
  animation: trans 1s ease 3s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}
.preloader__text-5 {
  animation: trans 1s ease 4s 1 normal backwards;
  position: relative;
  top: 50%;
  font-family: "Courier New", Courier, monospace;
  left: 50%;
}
.preloader__text-6 {
  animation: trans 1s ease 5s 1 normal backwards;
  position: relative;
  top: 50%;
  font-family: "Courier New", Courier, monospace;
  left: 50%;
}
.preloader__text-7 {
  animation: trans 1s ease 6s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}
.preloader__text-8 {
  animation: trans 1s ease 6s 1 normal backwards;
  position: relative;
  top: 50%;
  left: 50%;
  font-family: "Courier New", Courier, monospace;
}

.loaded .preloader {
  display: none;
}

.burger-menu {
  position: relative;
  z-index: 2222;
  display: none;
  background: rgba(0, 0, 0, 0.2);
}
@media (max-width: 376px) {
  .burger-menu {
    display: block;
  }
}
.burger-menu .burger-icon {
  font-size: 30px;
  cursor: pointer;
  z-index: 1000;
  margin-bottom: 50px;
  color: #fff;
}
.burger-menu .menu {
  position: fixed;
  left: -375px;
  top: 0px;
  width: 375px;
  height: 35%;
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  color: #fff;
  transition: left 0.3s ease;
}
.burger-menu .menu .close-icon {
  font-size: 30px;
  cursor: pointer;
  padding: 10px;
  text-align: right;
}
.burger-menu .menu ul {
  list-style: none;
  padding: 0 0 0 20px;
}
.burger-menu .menu ul li a {
  color: #fff;
  text-decoration: none;
}
.burger-menu .menu ul li a:hover {
  text-decoration: underline;
}
.burger-menu .menu.active {
  left: 0;
  height: 100%;
}

body {
  background-color: #191919;
}

.tab_arrow {
  max-width: 20px;
}

.main {
  background: url(../image/tokio_noch.jpg) no-repeat center center/cover;
  height: 80vh;
}
@media (max-width: 376px) {
  .main {
    height: 50vh;
  }
}
.main__arrow {
  display: flex;
  justify-content: space-between;
  font-size: 30px;
  color: #fff;
  margin-top: 100px;
}
@media (max-width: 376px) {
  .main__arrow {
    margin-top: 0;
    font-size: 15px;
  }
}
.main__arrow p {
  border-radius: 50px;
  transition: 0.5s ease-in-out;
  color: #fff;
}
.main__arrow p:hover {
  cursor: pointer;
  transform: scale(0.9);
  color: #e73e58;
}
.main [data-title] {
  position: relative;
  z-index: 4;
}
.main [data-title]::after {
  content: attr(data-title);
  position: absolute;
  z-index: 4;
  left: 2em;
  top: 30px;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
  color: #fff;
  width: 120px;
  font-size: 25px;
  font-weight: 500;
}
.main [data-title]:hover::after {
  opacity: 1;
}
.main__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #222222;
  padding: 0 20px 0 0;
  border-bottom: 2px solid #e73e58;
}
@media (max-width: 376px) {
  .main__header {
    display: none;
  }
}
.main__header__top {
  padding-left: 20px;
  display: flex;
}
.main__header__top img {
  cursor: pointer;
}
@media (max-width: 376px) {
  .main__header__top img {
    max-width: 20px;
  }
}
.main__header__top-logo {
  font-size: 24px;
  animation: myAnim 0.4s ease 0s 1 reverse both;
  padding-top: 9px;
}
@media (max-width: 376px) {
  .main__header__top-logo {
    font-size: 20px;
  }
}
.main__header__nav {
  display: flex;
  gap: 44px;
  font-size: 24px;
  animation: myAnim 0.4s ease 0s 1 reverse both;
  margin-right: 10px;
}
@media (max-width: 376px) {
  .main__header__nav {
    font-size: 12px;
    gap: 26px;
  }
}
.main__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
}
@media (max-width: 376px) {
  .main__title {
    font-size: 15px;
  }
}
.main__title-h2 {
  animation: myAnim 1s ease 0s 1 reverse both;
  font-weight: 400;
}
.main__title-h3 {
  animation: myAnim 1.5s ease 0s 1 reverse both;
}
.main__title-img {
  padding-top: 50px;
  cursor: pointer;
  animation: myAnim 2s ease 0s 1 reverse both;
}
@media (max-width: 376px) {
  .main__title-img {
    max-width: 20px;
  }
}

.main__title-p {
  display: flex;
  justify-content: space-around;
}

.slaider__img.manifestation-show {
  opacity: 1;
  animation: mani 1s ease-in-out 0s 1 normal forwards;
}

@media (max-width: 376px) {
  .slaider {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
.slaider__h2 {
  color: #fff;
  border-bottom: 1px solid #e73e58;
  font-size: 52px;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  font-weight: 100;
}
@media (max-width: 376px) {
  .slaider__h2 {
    font-size: 25px;
    padding-top: 20px;
    margin-bottom: 12px;
  }
}
.slaider__img {
  opacity: 0;
  margin: 20px 0 110px 0;
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  gap: 35px;
}
@media (max-width: 376px) {
  .slaider__img {
    margin: 0;
    height: 400px;
    width: 1200px;
    margin-bottom: 12px;
  }
}
.slaider .card {
  position: relative;
  width: 17%;
  height: 100%;
  perspective: 1000px;
}
@media (max-width: 376px) {
  .slaider .card {
    height: 100%;
    border-radius: 10px;
  }
}
.slaider .card .card__front, .slaider .card .card__back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.6s;
  border-radius: 20px;
}
@media (max-width: 376px) {
  .slaider .card .card__front, .slaider .card .card__back {
    border-radius: 10px;
  }
}
.slaider .card .card__front {
  background-color: transparent;
  z-index: 2;
}
.slaider .card .card__front img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}
@media (max-width: 376px) {
  .slaider .card .card__front img {
    border-radius: 10px;
  }
}
.slaider .card .card__back {
  background-color: #222222;
  transform: rotateY(180deg);
  display: flex;
  align-items: center;
  justify-content: center;
}
.slaider .card .card__back .slaideer__content {
  color: white;
  font-size: 15px;
  padding: 0 10px 0 10px;
}
@media (max-width: 376px) {
  .slaider .card .card__back .slaideer__content {
    font-size: 11px;
  }
}
.slaider .card .card__back .slaideer__content .span__slaider {
  font-weight: 900;
}
.slaider .card:hover .card__front {
  transform: rotateY(180deg);
}
.slaider .card:hover .card__back {
  transform: rotateY(0deg);
}

span:hover {
  cursor: pointer;
}

.container2.manifestation-show {
  opacity: 1;
  animation: mani 1s ease-in-out 0s 1 normal forwards;
}

.container2 {
  display: flex;
  justify-content: space-around;
  opacity: 0;
  padding-bottom: 6%;
}
.container2 .block {
  background-color: #222222;
  display: flex;
  border-radius: 15px;
  color: white;
  max-width: 1500px;
  padding-bottom: 50px;
}
@media (max-width: 376px) {
  .container2 .block {
    margin: 0;
    display: block;
    border-radius: 0;
    padding-bottom: 20px;
  }
}
.container2 .block__cart1 {
  margin: 5% 0 8% 43%;
}
@media (max-width: 376px) {
  .container2 .block__cart1 {
    margin: 0;
    padding: 0;
  }
}
.container2 .block__cart1__h3 {
  font-size: 35px;
  margin-right: 208px;
  font-weight: 900;
  border-bottom: 1px solid #e73e58;
}
@media (max-width: 376px) {
  .container2 .block__cart1__h3 {
    margin: 0;
    padding-left: 38%;
    margin-bottom: 12px;
  }
}
.container2 .block__cart1-ymaps {
  width: 560px;
  height: 445px;
  padding-left: 50px;
}
@media (max-width: 376px) {
  .container2 .block__cart1-ymaps {
    width: 350px;
    height: 300px;
    padding: 0 20px 0 35px;
  }
}
.container2 .block p {
  font-size: 30px;
  padding-top: 120px;
  padding-left: 50px;
  max-width: 700px;
}
@media (max-width: 376px) {
  .container2 .block p {
    font-size: 15px;
    padding-top: 12px;
    max-width: 376px;
    padding-left: 25px;
  }
}

.footer {
  background-color: #222222;
  color: #fff;
  display: flex;
  justify-content: space-around;
  height: 300px;
  padding-top: 50px;
}
@media (max-width: 376px) {
  .footer {
    margin-top: 50px;
    height: -moz-fit-content;
    height: fit-content;
    display: block;
    padding-top: 20px;
  }
}
.footer a {
  cursor: pointer;
  display: flex;
}
@media (max-width: 376px) {
  .footer a {
    padding-left: 30px;
  }
}
.footer h4 {
  font-size: 30px;
  border-bottom: 1px solid #e73e58;
  width: -moz-max-content;
  width: max-content;
}
@media (max-width: 376px) {
  .footer h4 {
    font-size: 20px;
    margin-left: 5px;
  }
}
.footer__block-2 {
  display: flex;
  flex-direction: column;
}
.footer__block-3 {
  display: flex;
  flex-direction: column;
}
.footer__block-3 h4 {
  font-size: 30px;
}
.footer__block-4 input {
  padding: 20px 70px 20px 20px;
  border-radius: 20px 0 0 0px;
  font-family: Arvo;
  outline: none;
  border: none;
  margin-top: 20px;
}
@media (max-width: 376px) {
  .footer__block-4 input {
    padding: 15px 50px 15px 15px;
  }
}
.footer__block-4 button {
  margin-left: -9px;
  padding: 17.1px 116px 19px 20px;
  border-radius: 0 0px 16px 0px;
  background-color: #e73e58;
  border: none;
  color: #fff;
  transition: 0.4s ease-in-out;
  width: 102px;
  font-size: 15px;
  font-weight: 900;
}
@media (max-width: 376px) {
  .footer__block-4 button {
    padding: 14.5px 100px 15px 20px;
    font-size: 12px;
    margin-bottom: 30px;
  }
}
.footer__block-4 button:hover {
  background-color: #000000;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */